{% extends 'myclub/base.html' %}

{% block content %}


<br><br>
<div class="container">
    <h1 class="mb-3" style="text-align: center;">Venue List</h1>
    {% for venue in venues %}
    <table class="table  table-striped table-hover table-bordered">
        <tr>
            <td>
                <a style="color: black ; text-decoration: none;" href="{% url 'show-venue' venue.id %}">{{venue}}</a>
            </td>
            <td class="text-end">
            <a href="{%url 'update' venue.id %}"  class="btn btn-primary ">Update</a>
            <a href="{%url 'delete' venue.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    {% endfor %}

</div>


{% endblock %}