{% extends 'myclub/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 style="text-align: center;" class="mt-3">Register Here</h1><br>
<div class="container mt-2" style="width: 800px;">
<form action="{% url 'register' %}" method="POST">
{% csrf_token %}
{{form|crispy}}
<center>
<div>
<button type="submit" class="btn btn-secondary mb-3">Submit</button>
<a class="btn btn-secondary mb-3" href="{%url 'login' %}" role="button">Cancel</a>
</div>
</center>
</form>
</div>
{% endblock %}